version: '3.8'
services:
  user-service:
    build: ./user_service
    ports:
      - "5001:5000"

  order-service:
    build: ./order_service
    ports:
      - "5002:5000"
    depends_on:
      - user-service
